/*Bootstrap overrides*/

#bootstrap-override .kaljasakko-reason {
	display: none;
	width: 65%;
	margin-top: 5px;
}

/*Class styles*/

.header-kaljasakot {
	display: block;
}

.kaljasakot-list {
	padding: 30px 60px;
}

.kaljasakot-list div {
	padding-top: 10px;
}

.kaljasakko-name {
	max-width: 188px;
	margin-right: 40px;
	padding: 20px;
}

.kaljasakko-sum {
	max-width: 60px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	text-align: center;
}

.kaljasakko-sum:disabled {
	background: #dddddd;
	padding: 20px;
}

.kaljasakko-subtract {
	padding: 10px 20px;
}

.kaljasakko-subtract:disabled {
	background: #dddddd;
	border-color: #dddddd;
}

.kaljasakko-add {
	padding: 10px 20px;
}

.kaljasakko-reason-toggle {
	display: inline-block;
	padding: 10px 15px;
	margin-left: 5px;
}


/*Media queries*/

@media (max-width: 768px) {

	.container-fluid {
		padding: 0px;
	}

	.kaljasakot-list {
		padding: 0px;
	}

	.kaljasakko-name {
		display: inline;
		margin: 0px 5px 0px 0px;
	}
	
	.kaljasakko-sum {
		display: inline;
	}

	.kaljasakko-reason {
		display: block;
	}
}

@media (max-width: 450px) {

	.kaljasakko-name {
		max-width: 120px;
	}
}

