.kaljasakot-list {
	padding: 30px 60px;
}

.kaljasakot-name {
	max-width: 350px;
	margin-right: 40px;
	padding: 20px;
}

.kaljasakot-sum {
	max-width: 60px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	text-align: center;
}

.kaljasakot-sum:disabled {
	background: #dddddd;
	padding: 20px;
}

.kaljasakot-remove {
	padding: 10px 20px;
}

.kaljasakot-add {
	padding: 10px 20px;
}