/*Bootstrap overrides*/

#bootstrap-override {
	font-family: 'Raleway', sans-serif;
}

h1 {
	text-align: center;
}

.scoreboard {
	padding: 30px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 30px; 
}
.footer {
  background: orange;
}