
input[type="checkbox"] {
    display:none;
}


input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    cursor: pointer;
    vertical-align: middle;
    background:url(error.svg) left top no-repeat;
    margin-left: 10px;
}

input[type="checkbox"]:checked + label span {
    display: inline-block;
    background:url(success.svg) left top no-repeat;
}


.header {
	background-color: #36D7B7;
	margin-top: -20px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.row {
	border-bottom: solid 0.5px;
	padding: 40px;
}

.expand {
	width: 8%;
	margin: 0 46%;
}

.day-label {
	font-weight: bold;
}

.classes-sum {
	font-weight: bold;
}

.ex-name {
	padding: 10px;
}

.ex-status {
	padding: 10px;
}