/*Bootstrap overrides*/

#bootstrap-override {
	font-family: 'Raleway', sans-serif;
}

/*Element styles*/

h1 {
	text-align: center;
}

/*Class styles*/


.page-wrap {
  min-height: 70%;
  /* equal to footer height */
  margin-bottom: -30px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  height: 30px; 
}

.footer {
  background: white;
}

.header-menu {
  display: none;
}

.okklogo {
  width: 130px;
  height: 80px;
}

#filter {
  margin-bottom: 10px;
}

/*Media queries*/

@media (max-width: 768px) {
  
  .container-fluid {
    padding: 0px !important;
  }

}

@media only screen and (max-width : 480px) {
  .container-fluid td {
    font-size: 0.9em;
  }
  .container-fluid th {
    font-size: 0.95em;
  }
}

