html
	head(class='header-kaljasakot')
		title OKK Tankki
		ul(class="header-menu")
			li
				a(href="/") Kaljasakot
			li
				a(href="/sarjataulukko") Sarjataulukko
			li
				a(href="/otteluohjelma") Otteluohjelma
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/styles/main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet")
		link(rel="stylesheet" href="/styles/bootstrap.min.css")
		link(rel="stylesheet" href="/styles/slicknav.min.css")
		div(class='header')
			img(class='okklogo' src='img/okkimg.jpeg' height='80' width='130')