html
	head(class='header-kaljasakot')
		title OKK Tankki
		div(id="myNav" class="overlay")
			a(href="javascript:void(0)" id="closebtn") &times;
			div(class="overlay-content")
				a(href="/") Kaljasakot
				a(href="/sarjataulukko") Sarjataulukko
				a(href="/otteluohjelma") Otteluohjelma
				a(href="/pisteporssi") Pistepörssi
		span(id="openbtn") &#9776;
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/styles/main.css" type="text/css")
		link(rel="stylesheet" href="/styles/overlay.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet")
		link(rel="stylesheet" href="/styles/bootstrap.min.css")
		div(class='header')
			img(class='okklogo' src='img/okkimg.jpeg' height='80' width='130')