include includes/header.pug
body(id='bootstrap-override')
	div(class='container-fluid')
		div(class='header')
			img(class='okklogo' src='img/okkimg.jpeg' height='80' width='130')
			h1 Sarjataulukko
		div
			include includes/hockeydata.pug