include includes/header.pug
h1 Sarjataulukko
body(id='bootstrap-override')
	div(class='container-fluid')
		div
			include includes/hockeydata.pug
			include includes/footer.pug
	script(src="js/sarjataulukko.js")