include includes/header.pug
link(rel="stylesheet" href="/styles/kaljasakot.css" type="text/css")
body(id='bootstrap-override')
	div(class='container-fluid')
		div(class='header')
			img(class='okklogo' src='img/okkimg.jpeg' height='80' width='130')
			h1 Kaljasakot
	kaljasakot
	script(type="riot/tag" src="kaljasakot.tag")
	script(src="https://cdn.jsdelivr.net/riot/2.6/riot+compiler.min.js")
	script riot.mount('kaljasakot')
	include includes/footer.pug
	script(src='/js/kaljasakot.js')