include includes/header.pug
link(rel="stylesheet" href="/styles/kaljasakot.css" type="text/css")
h1 Kaljasakot
body(id='bootstrap-override')
	div(class='container-fluid')
		div(class='form-inline text-center page-wrap')
			div(class='kaljasakot-list form-group text-center')
				each value, i in items
					div(class='kaljasakko' id="sakko" + i object-id=items[i]._id)
						input(class='kaljasakko-name form-control' id="kaljasakko-name" + i  type='text' value=items[i].name)
						button(class='kaljasakko-subtract btn btn-danger' id="kaljasakko-subtract" + i) -
						input(class='kaljasakko-sum form-control' id="kaljasakko-sum" + i type='text' disabled value=items[i].amount)
						button(class='kaljasakko-add btn btn-success' id="kaljasakko-add" + i) +
				div(class='kaljasakko' id="sakko" + items.length)
					input(class='kaljasakko-name form-control' id="kaljasakko-name" + items.length type='text' placeholder='Lisää nimi..')
					button(class='kaljasakko-subtract btn btn-danger' id="kaljasakko-subtract" + items.length) -
					input(class='kaljasakko-sum form-control' id="kaljasakko-sum" + items.length type='text' disabled placeholder=0)
					button(class='kaljasakko-add btn btn-success' id="kaljasakko-add" + items.length) +
		include includes/footer.pug
		script(src="js/kaljasakot.js")