html
	head
		title kakka1
		link(rel="stylesheet" href="/styles/main.css" type="text/css")
		link(rel="stylesheet" href="/styles/login.css" type="text/css")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	body
		div(class='container-fluid')
			h1(class='text-center') login
			img(class='login-img text-center' src='/img/turquoise-dumbbell.png')
			div(class='form-group')
				input(class='form-control' type='text' placeholder='Name')
			div(class='form-group')
				input(class='form-control' type='text' placeholder='Password')
			button(class='login-btn') Login
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
			script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')